

/* BLOCKS CSS  */

/*************************************************************************/
/* RES Header Image   */

.res-header-image{
	position: relative;
	overflow: hidden;
}
.header-img-height { 
	min-height: 140px;
}

.res-header-image-vertical-center{
	position: absolute;
	top: 60%; 
	left: 0;
	width: 100%;
	height: auto;
	z-index: 2;
	transform: translateY(-50%);
}


/* Slogan Box  */

.res-header-image .sloganbox-background {
	background: rgba(0,0,0, .75);
	padding: 1.7rem 3rem;
}
@media only screen and (max-width: 970px) {
	.res-header-image .sloganbox-background { padding: 0.8rem 1.5rem;}
}

.res-header-image .sloganBox{
	color: #fff;
}
.res-header-image .sloganBox h1,
.res-header-image .sloganBox h2,
.res-header-image .sloganBox h3{
	color: #fff;
}
.res-header-image .sloganBox p {
	font-size: 100%; 
	line-height: 140%;
}

.res-header-image .sloganBox a {
	color: #fff;
}

/* Buttons */
.res-header-image .sloganBox .btn-primary,
.res-header-image .sloganBox .btn-secondary,
.res-header-image .sloganBox .btn-outline,
.res-header-image .sloganBox .btn-text-link {
	color: #fff;
}
.res-header-image .sloganBox .btn-secondary,
.res-header-image .sloganBox .btn-outline {
	background-color:  transparent;
	border: 1px solid #fff;
}
.res-header-image .sloganBox a.btn-text-link{
	padding: 0.6rem 0;
}

/*	Mobile Fonts smaller */
@media only screen and (max-width: 970px) {
/*	.res-header-image .sloganBox{font-size: 90%; line-height: 140%;}*/
	.res-header-image .sloganBox a.btn{font-size: 85%;}
} 



/* Page Content   */

.res-header-image .header-image-pagecontent {
	max-height: 50vh;
	overflow: auto;
	color: #fff;
/*	background: rgba(0,0,0, .6);*/
}
.res-header-image .header-image-pagecontent .res-block .inner-container, 
.res-header-image .header-image-pagecontent .res-block .inner-container {
    max-width: 90%;
}


.res-header-image .header-arrow {
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 88;
}

.res-header-image .header-arrow a {
	color: #fff;
}



/*************************************************************************/
/* RES 02 Slider    */

.header-oversized {
	overflow: hidden;
}

.jarallax-no-parallax {
	position: relative;
}
.jarallax-img-no-parallax {
	object-fit: cover;
    object-position: 50% 50%;
	position: relative;
	height: 100%;
	min-width: 100%
}


/*   Mobile no-fullsize Image */

@media only screen and (max-width: 970px) {
	
	.res-header-image .layout-2.mobile_no-fullscreen{
		flex-flow: column-reverse;
	}
	.res-header-image .layout-2.mobile_no-fullscreen .res-header-image-vertical-center {
		position: relative;
		width: 100%;
		height: auto;
		top: auto !important;
		z-index: 0;
		transform: translateY(-10%);
		margin-top: 60px;
	}
	.res-header-image .layout-2.mobile_no-fullscreen .res-header-image-vertical-center .container-fluid {
		max-width: 90%;
	}
	.res-header-image .layout-2.mobile_no-fullscreen .res-header-image-vertical-center .sloganBox,
	.res-header-image .layout-2.mobile_no-fullscreen .res-header-image-vertical-center .sloganBox h1,
	.res-header-image .layout-2.mobile_no-fullscreen .res-header-image-vertical-center .sloganBox h2,
	.res-header-image .layout-2.mobile_no-fullscreen .res-header-image-vertical-center .sloganBox h3 {
		color: unset !important;
	}
	.res-header-image .layout-2.mobile_no-fullscreen .res-header-image-vertical-center .sloganbox-background {
		background: unset;
		padding: 0;
	}
	.res-header-image .layout-2.mobile_no-fullscreen .header-arrow{
		display: none;
	}	
	
	.res-header-image .layout-2.mobile_no-fullscreen .sloganBox .btn-secondary,
	.res-header-image .layout-2.mobile_no-fullscreen .sloganBox .btn-outline,
	.res-header-image .layout-2.mobile_no-fullscreen .sloganBox .btn-text-link {
		color: unset;
		border-color: unset;
	}
	
}


/*************************************************************************/
/*   Timers   Duration und Scale  */

  	
.carouselZoom{
    -webkit-animation-name: carouselZoom;
    -moz-animation-name: carouselZoom;
    animation-name: carouselZoom;
}

@-webkit-keyframes carouselZoom {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}


.duration1 {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
}
.carousel-animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    -ms-animation-duration: 8s;
    -o-animation-duration: 8s;
    animation-duration: 8s;
}
.carousel-animated.hinge {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.carousel-animated.infinite {
  -webkit-animation-iteration-count: carousel-infinite;
  animation-iteration-count: carousel-infinite;
}



/* ------------  CMS Backend Preview ---------------- */

.acf-block-preview .res-header-image {
	position: relative;
}
.acf-block-preview .res-header-image .res-header-img-outside {
	max-width: 1080px;
	margin: 0 auto;
	border: 1px solid #eee;
	max-height: 330px;
	overflow: hidden;
}
.acf-block-preview .res-header-image .res-header-image-vertical-center {
	position: absolute;
	top: 50% !important;
	left: 15%;
	width: 70%;
}

.acf-block-preview .res-header-imageh1,
.acf-block-preview .res-header-image h2,
.acf-block-preview .res-header-image h3 {
	font-size: 22px;
	line-height: 24px;
	padding: 0;
	margin: 10px 0;
}
.acf-block-preview .res-header-image p {
	font-size: 16px !important;
	padding: 0;
	margin: 10px 0;
}
.acf-block-preview .res-header-image a {
	color: #000;
	text-decoration: none;
}
.acf-block-preview .res-header-image .btn {
	font-size: 17px !important;
	padding: 8px 16px;
	margin: 8px;
	border: 0;
	background-color: #222;
}


/*keine inner-content von anderer page als backend-preview zeigen */
.acf-block-preview .res-header-image .header-image-pagecontent {
	overflow: hidden;
	display: none;
}




